/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/



body {
    background-color: #fafafa;
}

nav {
    background-color: #fff;
    padding: 34px;
    height: 70px;
    border-bottom-color: #edeeee;
    border-bottom-width: 1px;
    
}
.navbar-brand {
    color: #125688;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    font-family: 'Oleo Script', Helvetica, sans-serif;
    font-size: 28px;
}
.navbar-brand:hover {
    color: #66afe9;
}
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}
.navbar-search {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-status {
    color: #125688;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    font-family: 'tahoma', sans-serif;
    font-size: 18px;
    float: right;
   
}

.navbar-status:hover {
    color: #66afe9;
    text-decoration: none;
}
.register-status {
    color: #125688;
    font-family: 'tahoma', sans-serif;
    font-size: 18px;
    float: none;
    margin-top: 10px;
   
}

.register-status:hover {
    color: #66afe9;
    text-decoration: none;
}

.border {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.centre-div {    
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.centre-img {    
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 30px;
     
}
.centre-img img {    
     height: 300px;
     width: 300px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
.profile-photo{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.border1 {
    border:1px solid #000; 
}
.profile-box-pic {
    margin-bottom: 50px;
    margin-top: 20px;
}
.profile-box {
    margin-bottom: 50px;
    margin-top: 20px;
   padding-left: 45px;
}
.v-center {
    
    vertical-align: middle;
    float: none;
}
.align-names {
    float: left;
    padding-right: 5px;
}
.align-stats {
    float: left;
    padding-right: 60px;
}
.name-font {
    font-size: 14px;
    font-family: 'Ariel', sans-serif;
    padding-top: 15px;
    padding-left: 5px;
}
.username-title {
    
}